doctype html
html(lang="es")
  head
    title= title
   
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    // 7 days of cache
    meta(http-equiv='Cache-control', content='public, max-age=604800')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='recetas-city.com')
    meta(name='language', content='en')
    meta(name='keywords', content='recipes,food,cooking')
    meta(name='robots', content='Index, Follow')
    meta(property='og:locale', content='en_EN')
    meta(property='og:type', content='article')
    meta(property='og:site_name', content='recetas-city.com')
    meta(property='article:publisher', content='http://www.recetas-city.com/')
    meta(property='article:author', content='http://www.recetas-city.com/')
    meta(name='title', content=title)
    meta(name='description', content='Recetas City. Las mejores y mas faciles recetas de cocina')
    meta(property='og:title', content='Recetas City | Las mejores recetas de cocina')
    meta(property='og:description', content='Recetas City. Las mejores y mas faciles recetas de cocina')
    meta(property='og:url', content='http://www.recetas-city.com/')
    meta(property='og:image', content='https://res.cloudinary.com/dniiru5xy/image/upload/c_fill,g_auto/w_600,q_auto,f_auto/medialunas.jpg')
    meta(property='article:modified_time', content=today)

    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(async='async', defer='true', charset='UTF-8', type='application/ld+json').
      {
        "@context": "http://schema.org/",
        "@type": "WebSite",
        "name": "Recetas City | Las mejores recetas de cocina",
        "image": [
        "https://res.cloudinary.com/dniiru5xy/image/upload/c_fill,g_auto/w_600,q_auto,f_auto/medialunas.jpg"
        ],
        "datePublished": "2019/05/02",
        "description": "Recetas City. Las mejores y mas faciles recetas de cocina",
        "keywords": "receta,cocina,comida,facil"
        }

  body
    div.container
      nav.nav.justify-content-start.fixed-top.bg-success.p-2
        a.nav-link(href='/') 
          span.text-white Recipes
        a.nav-link(href='/about') 
          span.text-white About this site
   
    .mt-5
        .row.no-gutters.mx-2
          .col-md-9
            block content
          .col-md-3
            .card.position-fixed.border-0
              .card-body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
    .mb-5 &nbsp
    .mb-3 &nbsp
    .fixed-bottom(style='height: 105px')
      p.text-center &nbsp