extends layout

block content
  h1 Join Recipes21
  lead Create an account to receive great recipes in your inbox, personalize your homepage, and follow authors and recipes that you love.
      .text-center.my-5
        a(href=`${urlGoogle}`).badge.badge-primary.login-button Sign In with Google



