/* custom css*/
body {
    font-size: 14px !important;
    color: #212529 !important;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none !important;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

.lead {
    font-size: 1rem;
}

.recipe-title a {
    color: #212529 !important;
}

a:hover {
    color: #20c997 !important;
}

.show-on-mobile {
    display: block;
}

.show-on-desktop {
    display: block;
}

@media (max-width: 767.98px) {
    .show-on-desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    .show-on-mobile {
        display: none;
    }
}

.content {
    margin-top: 0px;
}

.search-box {
    max-width: 600px;
    margin: auto;
    height: 40px;
}

.brand {
    font-style: italic;
    font-family: -webkit-body;
    margin-top: 8px;
}

.sub-header {
    font-size: 18px;
}

.login-button {
    padding: 15px 30px;
    font-size: 16px;
}

.list-group-ol {
    list-style: decimal inside;
}

.list-group-item-ol {
    display: list-item;
}
